.form-style {
    width: 75%;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
}
.form-style  ul{
    padding:0;
    margin:0;
    list-style:none;
}
.form-style  ul li{
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}
.form-style  ul li  .field-style{
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}.form-style  ul li  .field-style:focus{
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}
.form-style  ul li .field-split{
    width: 49%;
}
.form-style  ul li .field-full{
    width: 100%;
}
.form-style  ul li input.align-left{
    /*float:left;*/
}
.form-style  ul li input.align-right{
    float:right;
}
.form-style  ul li textarea{
    width: 100%;
    height: 100px;
}
.form-titel {
	width: 100%;
	text-align: center;
	display: inline-block;
	font: 24px Arial, Helvetica, sans-serif;
	color: #216288;
	margin-bottom: 3%;
    margin-top: -7%;
}
.form-style  ul li input[type="button"], 
.form-style  ul li input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #216288;
    border: 1px solid #17445E;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}
.form-style  ul li input[type="button"]:hover, 
.form-style  ul li input[type="submit"]:hover {
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}
.form-label {

	font: 16px Arial, Helvetica, sans-serif;
	color: #216288;
	margin-left: 1%;
}
/*SELECT*/
.styled-select select {
   display: inline-block;
   font-style: italic;
   font: 16px Arial, Helvetica, sans-serif;
   background: transparent;
   width: 45%;
   padding: 5px;
   margin:  8px;
   line-height: 1;
   border: solid;
   border-radius: 0;
   height: 34px;
   }
   /*UPLOAD*/
 #upload-wrapper {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	background: #F5F5F5;
	padding: 50px;
	border-radius: 10px;
	box-shadow: 1px 1px 3px #AAA;
}
#upload-wrapper h3 {
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 20px 0px;
	margin-top: -30px;
	border-bottom: 1px dotted #DDD;
}
#upload-wrapper input[type=file] {
	border: 1px solid #DDD;
	padding: 6px;
	background: #FFF;
	border-radius: 5px;
}
#upload-wrapper #submit-btn {
	border: none;
	padding: 10px;
	background: #61BAE4;
	border-radius: 5px;
	color: #FFF;
}
#output{
	padding: 5px;
	font-size: 12px;
}
#output img {
	border: 1px solid #DDD;
	padding: 5px;
}

/* progress bar style */
#progressbox {
	border: 1px solid #92C8DA;
	padding: 1px; 
	position:relative;
	width:400px;
	border-radius: 3px;
	margin: 10px;
	display:none;
	text-align:left;
}
#progressbar {
	height:20px;
	border-radius: 3px;
	background-color: #77E0FA;
	width:1%;
}
#statustxt {
	top:3px;
	left:50%;
	position:absolute;
	display:inline-block;
	color: #000000;
}  