#content{
position: relative;
    top: 15%;
    width: 80%;
    height: 100%;
    margin: 10% auto;
    background-color: aqua;
}
.back{
	display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
	background-color: rgba(117, 137, 138, 0.6);
}
.back:hover{
	transition: 3s;
	background-color: rgba(255, 255, 255, 0.6);
}