.plans {
    /*z-index: 1;*/
   /* top: 10%;
    left: 5%;
    position: absolute;
    /* margin-left: 5%; */
    margin: 5% auto;
    width: 90%;
    zoom: 1;
}
.plan img{
	width: 80%;
	border-radius: 20px;
}

.plan {
  float: right;
  width: 220px;
  margin: 10px 0;
  padding: 20px;
  text-align: center;
  background: #fafafa;
  background-clip: padding-box;
  border: solid #453b5d;
  border-width: 2px 2px 2px 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.plan:hover{
	transform: scale(1.2);
	z-index: 9;
	box-shadow: 0px -1px 12px 8px #a0c7dc;
}
.plan-title {
  position: relative;
  margin: -20px -10px 20px;
  padding: 20px;
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  color: #595f6b;
}

.plan-price {
  margin: 0 auto 20px;
  width: 90px;
  height: 90px;
  line-height: 90px;
  font-size: 19px;
  font-weight: bold;
  color: white;
  background: #595f6b;
  border-radius: 45px;
}
.plan-price > span {
  font-size: 12px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
}

.plan-features {
	    list-style-type: none;
    margin-right: 35px;
  margin-bottom: 20px;
  line-height: 2;
  font-size: 12px;
  color: #999;
  text-align: center;
}
.plan-features > li > strong {
  font-weight: bold;
  color: #888;
}
.plan-button {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  line-height: 30px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  background: #a83e7d;
  /*border: 1px solid #222;*/
  border-bottom-color: black;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #9780cc, #a83e7d);
  background-image: -moz-linear-gradient(top, #9780cc, #a83e7d);
  background-image: -o-linear-gradient(top, #9780cc, #a83e7d);
  background-image: linear-gradient(to bottom, #9780cc, #a83e7d);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), inset 0 2px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), inset 0 2px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.1);
}
.plan-button:active {
  color: #a83e7d /*rgba(255, 255, 255, 0.95)rgba(255, 255, 255, 0.95)*/;
  /*background: white;*/
  border-color: black #222 #222;
  background-image: white;/*-webkit-linear-gradient(top, #6f5e96, #a83e7d);
 /* background-image: -moz-linear-gradient(top, #6f5e96, #a83e7d);
  background-image: -o-linear-gradient(top, #6f5e96, #a83e7d);
  background-image: linear-gradient(to bottom, #6f5e96, #a83e7d);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);*/
}

.plan-tall {
  margin: 0;
  background-color: white;
  border-width: 2px;
  border-radius: 7px;

}
.plan-tall:hover{
	transform: scale(1.2);
	z-index: 9;
	box-shadow: 0px -1px 12px 8px #a0c7dc;
}
